body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

#lga {
  display: flex;
  z-index: 3;
  margin: 0 auto;
  padding-top: 133px;
  padding-bottom: 28px;
  }

#search-bar {
background: #fff;
display: flex;
border: 1px solid #dfe1e5;
box-shadow: none;
border-radius: 24px;
z-index: 3;
height: 44px;
margin: 0 auto;
width: 584px;

}

nav {
  height: 65px;
  width: 100%;
  background-color: white;
  
}

#left {
  font-size: 13px;
  display: inline-block;
  padding: 25px 0 15px 15px;
  
}
.nav-links {
  text-decoration: none;
  color: black;
  padding-left: 15px;
  opacity: 0.75;
}
#buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  padding-top: 25px;
}

#button1 {
  display: flex;
  background-color: #f2f2f2;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  
}

#button2 {
  display: flex;
  background-color: #f2f2f2;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
   
}

#spacer {
  width: 10px;
}