body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

#lga {
  display: flex;
  z-index: 3;
  margin: auto auto;
  padding-top: 132px;
  padding-bottom: 28px;
  justify-content: center;
  }

#search-bar {
background: #fff;
display: flex;
border: 1px solid #dfe1e5;
box-shadow: none;
border-radius: 24px;
z-index: 3;
height: 44px;
margin: 0 auto;
width: 584px;

}

nav {
  height: 65px;
  width: 100%;
  background-color: #fff;
  
}

#left {
  font-size: 13px;
  display: inline-block;
  padding: 22px 0 15px 10px;
  opacity: 0.75;
}
#right {
  font-size: 13px;
  display: inline-block;
  float: right;
  padding: 10px 15px 15px 10px;
}
#box-button {
  display: inline-block;
  opacity: 0.65;
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/60/60991.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 7.5px !important;
  margin: 7px 10px -2px 12px;
 
  
}

#sign-in {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  border: 1px solid #4285f4;
  color: #fff;
  background: #4683ea;
  border-radius: 2px;
  font-weight: bolder;
  padding: 5px 5px 5px 5px;
}

.nav-links {
  text-decoration: none;
  color: black;
  padding-left: 15px;
  
}
#buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  padding-top: 28px;
 
}

#button1 {
  display: flex;
  background-color: #f2f2f2;
  padding: 3px 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  
}

#button2 {
  display: flex;
  background-color: #f2f2f2;
  padding: 3px 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
   
}

#spacer {
  width: 10px;
}

#linkline {
  display: flex;
  font-size: small;
  justify-content: center;
  padding-top: 23px;
}

#link {
  text-decoration: none;
  font-family: Arial, sans-serif;

}

footer {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  line-height: 40px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  font-family: arial,sans-serif;
  font-size: 14px;
  
}

.footer-block {
  text-decoration: none;
  color: #5f6368;
  padding-left: 27px;
  
}

#rightside {
  display: inline-block;
  position: absolute;
  right: 0;
  padding-right: 27px;
}